@tailwind base;
@tailwind components;
@tailwind utilities;

g-secondary {
 background-color: #7f2a2a !important;
}
.copyright {
 background-color: #7f2a2a ;
}
.bg-primary {
 background-color: #7f2a2a  !important;
}
nav{
 font-weight: 700;
}
.img-card{
 height: 18vw;
 object-fit: cover;
}